*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(6, 1, 16);
}
.container{
  background-color: transparent;
  padding: 15px;
  border: 3px solid rgb(77, 93, 241);
  border-radius: 5px;
}
.display{
  height: 100px;
  width: 400px;
  padding: 5px;
  background-color: transparent;
  border: 2px solid rgb(77, 93, 241);
  border-radius: 5px;
  color: white;
  font-size: 40px;
  display: flex;
  align-items:flex-end;
  justify-content: flex-end;
}
.deleting-buttons{
  text-align: center;
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.deleting-buttons button{
  flex: 1;
  background-color: transparent;
  border: 2px solid rgb(77, 93, 241);
  border-radius: 5px;
  color: white;
  padding: 10px;
  font-size: 25px;
  transition-duration: 0.2s;
}

.deleting-buttons button:hover{
  background-color:rgb(238, 36, 36);
  border-color: rgb(238, 36, 36);
  color: rgb(6, 1, 16);
  transition-duration: 0.2s;
}

.numbers{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.numbers button{
  background-color: transparent;
  border: 2px solid rgb(77, 93, 241);
  border-radius: 5px;
  color: white;
  padding: 10px;
  font-size: 25px;
  transition-duration: 0.2s;
}

.numbers button:hover{
  background-color:rgb(77, 93, 241);
  color: rgb(6, 1, 16);
  transition-duration: 0.2s;
}
#buttons{
  font-size: 30px;
}
#equal{
  font-size: 30px;
}